#
# Copyright (c) 2022 Amazon.com, Inc. or its affiliates.  All rights reserved.
# PROPRIETARY/CONFIDENTIAL.  USE IS SUBJECT TO LICENSE TERMS.
#

service perfmonitord /system/bin/perfmonitord
    user root
    group system readproc
    class main
    disabled

on post-fs
    insmod /vendor/lib/modules/perfinfo.ko
    chown root system /proc/perfinfo
    chmod 0660 /proc/perfinfo
